body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    background-image: linear-gradient(120deg,#1f3fa8, #c42036);
    height: 97vh;
}

a{
    color:white;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
}

a:hover{
    text-decoration: none;
    color: black;
}
.s1{
    margin-top: 20px;
}

.m1{
    margin-left: 25px;
    margin-top: 80px;
}

.m2{
    margin-left: 25px;
    margin-top: 65px;
}

.m3{
    margin-left: 25px;
    margin-top: 65px;
}

.s2{
    margin-top: 50px;
}

.s3{
    margin-top: 50px;
}

.img1{
    width: 19%;
    margin-left: 30px;
}

.img2{
    width: 15%;
}

.img3{
    height: 10%;
    margin-left: 30px;
}

@media only screen and (max-width: 768px){

    body{
        height: 88vh;
        width: auto;
    }

    .s1{
        margin-top: 90px;
    }

    .img1{
        width: 38%;
        height: 25%;
        margin-left: 18px;
    }

    .m1{
        margin-left: 8px;
        margin-top: 45px;
        font-size: 17px;
    }

    .img2{
        width: 28%;
        height: 20%;
        margin-left: -5px;
    }

    .s2{
        margin-top: 70px;
    }

    .m2{
        margin-left: 10px;
        margin-top: 30px;
        font-size: 18px;
        margin-right: -10px;
    }

    .img3{
        width: 30%;
        margin-left: 24px;
    }

    .s3{
        margin-top: 80px;
    }

    .m3{
        margin-left: 12px;
        margin-top: 38px;
        font-size: 17px;
    }
}